.booth-box {
  width: 300px;
  height: 128px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 90px 1fr;
  column-gap: "3px";
  justify-items: stretch;
  align-items: stretch;
  position: relative;
  grid-column-gap: 3px
}

.booth-img {
  grid-column: 1 / 2;
  width: 90px;
  height: 128px;
}

.booth-img-after {
  width: 19.5px;
  height: 19.5px;
  left: 3px;
  top: 3px;
  position: absolute;
}

.booth-info-container {
  overflow: hidden;
  grid-column: 2 / 3;
  width: 100%;
  height: 100%;
  text-align: left;
  vertical-align: top;
  display: grid;

  grid-template-rows: 1fr 24px;
}

.booth-info-text {
  text-align: left;
  grid-row: 1 / 2;
  width: 100%;
  height: 100%;
}

.booth-info-colorbar {
  grid-row: 2 / 3;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(8, 24px);
  column-gap: 1px;
}

.booth-info-colorbar-elem {
  grid-column: auto;
  border: 1px black solid;
  width: 24px;
  height: 24px;
  line-height: 24px;
}

.booth-table {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  overflow-x: hidden;
  border: 1px solid red;
  min-width: 330px;
  height: 100%;
  align-items: flex-start;
}

.booth-table-entry {
  padding: 3px;
  margin: 3px;
  border: 1px solid black;
  width: 300px;
  text-align: center;
}